<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ab70a652-73a1-44c9-96c3-3f8ea8f6b815/resourceGroups/dotnetcorebruno/providers/Microsoft.Web/sites/dotnetcorebruno</ResourceId>
    <ResourceGroup>dotnetcorebruno</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://dotnetcorebruno.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://dotnetcorebruno.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$dotnetcorebruno</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>