@if (TempData["success"] != null)
{
    <div class="toast bg-success text-white position-absolute p-1 m-3 top-1 end-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000" id="myToast">
        <div class="toast-header bg-success text-white">
            <strong class="me-auto"></strong>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <h6 class="text-white">@TempData["success"]</h6>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myToast').toast({ delay: 5000 });
            $('#myToast').toast('show');
        });
    </script>
}

@if (TempData["error"] != null)
{
    <div class="toast bg-danger text-white position-absolute p-1 m-3 top-1 end-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000" id="myToast">
        <div class="toast-header bg-danger text-white">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <h6 class="text-white">@TempData["error"]</h6>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myToast').toast({ delay: 5000 });
            $('#myToast').toast('show');
        });
    </script>
}